/*!
global > color
------------------------------
*/
:root {
    --color-font-base: #49515f;
    --color-primary: #1e4aa4;
    --color-text-light: #9a9eac;
    --color-lightest-blue: #f5f8fb;
    --color-border: #eee;
    --color-white: #fff;
    --color-link: #497fdf;
    --color-darkblue: #222a38;
    --color-outline-focus-inside: #295abc;
    --color-outline-focus-outside: #dfe8ff;
    --color-red: #c82b2b;
}
