@use "../../global" as g;

/*!
page > error > error-text
------------------------------
*/

.error-text {
    text-align: center;

    span {
        display: block;
    }
}

.error-button {
    display: grid;
    place-items: center;
    margin-top: 40px;
}
